html, body, div, p, span, a, h1,h2,h3,h4,h5,h6 { margin:0; padding:0;}
html, body {width:100%; height:100%; font-family: "Segoe UI", "Trebuchet MS", Arial, _sans; font-size:1em;}
a { text-decoration: none; display: block; font-size:.8em; color:#444;}
ul, li { margin:0; padding:0; list-style-type: none;}
form fieldset { border: none;}
form fieldset .element { clear:both; float:none;}
form fieldset .actions { margin-top:.5em;}
form fieldset .actions * { display: inline-block;}
form label { min-width:30%; display: block; float:left;}
form input[type=password],
form input[type=number],
form input[type=text] { width:50%; padding: 0.3em 0.5em; border-radius: .3em; border: .1em solid #ccc; font-size: 0.8em; box-sizing: border-box; -moz-box-sizing:border-box;}
form input:invalid { background:rgba(255, 0, 0, .2); color:#fff;}
nav { margin-top:1em;}
nav .action { position: fixed; bottom: 1em; left:1em;}
nav .quit { position: fixed; bottom: 1em; left:6em;}
h2 { margin-bottom:1em;}
h2 span { color:red;}

.list { padding:1em; box-sizing:border-box;}
.list li { display: block; overflow: hidden; margin-bottom: .1em}
.list li a.delete { text-indent: -100em; width:0em; height:0em; display: none; float:left;
    background:#ccc url('/res/trash.png') 7px 5px no-repeat
}
.list li a.delete:active { background-position:7px 7px;}
.list li a.action { /*float:left; */padding:.5em 1em; min-width: 20em; overflow: hidden;}
.list li a.selected { background:#ccc; color:#fff; text-decoration: none;}
.withDelete li a.delete { width:2em; height:2.2em; display: block;}



/* screens */
.page { border-radius: .5em; position:relative; padding:1em; background:#efefef; 
	transition:all .5s;
	-webkit-transition: all .5s;
	-moz-transition:all .5s;
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-shadow: .1em .1em .3em #ccc;
}
.page .back { position:absolute; right:1em; top:1em;}

.notify { position:absolute; top:0; left:0; width:100%; height:100%; z-index: 10;}
.notify:after { content:""; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.7); pointer-events:none;}
.notify .alertBody { border-radius: .5em;position: relative;z-index: 2;width: 20em;height: 8em;display: block;overflow: hidden;background: white;left: 50%;top: 50%;margin:-4em 0 0 -10em;}
.notify .description { font-size:.9em; box-sizing:border-box; padding:.6em; color:#888;}
.notify .code { font-size:.5em; color:#ccc; right:1em; bottom: 1em; position: absolute;}
.notify button { position:absolute; left:.5em; bottom:.5em;}
.notify h1 { font-size: 1.2em; padding: .3em 0 .3em .5em; background: #ccc; color: #fff; text-shadow: 0.1em 0.1em .2em #666;}

.login, .register, .details, .availableTitles { width:25em; position: absolute; left: -30em; top: 4em;}
.login,
.register { max-width: 25em;}
.login label,
.register label { min-width:40%;}

.details { max-width:30em;}
.details h2 { width:80%;}
.details label { min-width:48%;}
.details .wrap p { display: inline-block; margin-right:.5em;}
.details .wrap label { min-width: initial; font-size:.7em; line-height: 2em; margin-left:.3em;}
.details .wrap input { float:left;}


.availableTitles { width:20em;}
.availableTitles h2 { margin-bottom: 0}
.availableTitles .list a { text-decoration: underline;}


#gameScreen { clear:both; float:none; display: block; overflow: hidden; padding:5em; padding-top:1em; box-sizing:border-box;}
#gameScreen .tiles { margin:0 auto; display: block; overflow: hidden; clear:both; float:none;}
#gameScreen h2 { width:100%; text-align: center;}
#gameScreen p.time { float:right; }
#gameScreen p.score { float:left; }
#gameScreen p.description { text-align: center; font-size:.9em;}
#gameScreen .game_0 { width:19em;}
#gameScreen .game_1 { width:25em;}
#gameScreen .game_2 { width:32em;}

#gameScreen .card { font-size:.8em; width:80px; height:120px; float:left; margin-right:10px; cursor: pointer; margin:10px; color:#fff; text-shadow: 1px 1px #000;
	-moz-box-sizing:border-box;
	box-sizing:border-box; 
 	-moz-transition: all .3s;
 	-webkit-transition: all .3s;
 	transition: all .3s;
 	-webkit-perspective: 600;
 	-moz-perspective: 600;
 	perspective: 600; 
}
#gameScreen .card span { width:80px; height:120px; position:absolute; border-radius:10px; text-align: center; box-sizing:border-box;
    -moz-transition-property: opacity, -moz-transform, -moz-box-shadow;
    -webkit-transition-property: opacity, -webkit-transform, -webkit-box-shadow;
    transition-property: opacity, transform, box-shadow; 
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: .1em .1em .4em #666;
}
#gameScreen .card .face { z-index:2; background-position: 0px   -480px; background:url('../res/back.png');}
#gameScreen .card .back { z-index:1; -webkit-transform: rotate3d(0,1,0,-180deg); border-radius:.8em; -moz-transform: rotate3d(0,1,0,-180deg); }
#gameScreen .pressed .face { z-index:1; -webkit-transform: rotate3d(0,1,0,180deg); -moz-transform: rotate3d(0,1,0,180deg);}
#gameScreen .pressed .back { z-index:2; -webkit-transform: rotate3d(0,1,0,0deg); -moz-transform: rotate3d(0,1,0,0deg); }

/* misc classes */
.cleared { pointer-events: none; opacity: .5;}
.hidden { display:none;}
.activePage { left: 0;}


button.btn { padding: .5em 1em; border-radius: .5em; font-size: .8em; border: none; color: #fff; text-shadow: .1em .1em #000; outline:none;
    box-shadow: 0 .1em .2em rgba(0,0,0,.5); 
    background: linear-gradient(to top, #125DB3, #2797FF);
}
button.btn:active { background: linear-gradient(to bottom, #125DB3, #2797FF); margin-top: .3em;}
button.btn:disabled { background: linear-gradient(to top, #ccc, #929292); color: #7E7E7E; text-shadow: none;}

button.logger:before { content: " "; font-family:"Webdings";}
button.logout { background: linear-gradient(to top, #741111, #f00);}
button.logout:active { background: linear-gradient(to bottom, #741111, #f00);}
button.back { background: linear-gradient(to top, #2C680B, #43A70C);}
button.back:before { content:"⌫ ";}
button.back:active { background: linear-gradient(to bottom, #2C680B, #43A70C)}



