doctype html
html
	title Tests
	meta(charset="utf-8")
	script(type="text/javascript", src="/requirejs/require.js", data-main="/js/bootstrap.js")
	link(rel="stylesheet", href="css/main.css")
body
	#page