doctype html
html
	title TDD Approach with Jasmine
	meta(charset="utf-8")
	link(rel="stylesheet", href="jasmine/lib/jasmine-core/jasmine.css")
	link(rel="stylesheet", href="css/main.css")
	script(type="text/javascript", src="/requirejs/require.js", data-main="/js/tests/testsBootstrap.js")
body
	#stage