<h2>Login</h2>
<button class="btn back">close</button>
<form action="#submitLoginData" method="post" id="loginForm">
	<fieldset>
		<div class="element">
			<label for="fusername">User name:</label>
			<input type="text" name="fusername" id="fusername" value="alex" placeholder="User name"/>
		</div>
		<div class="element">
			<label for="fpassword">Password:</label>
			<input type="password" name="fpassword" id="fpassword" value="password" placeholder="Password"/>
		</div>
		<div class="actions">
			<a href="#register" title="Register new user" class="btn">register</a>
			<button class="btn action" disabled>Login</button>
		</div>
	</fieldset>
</form>