<h2>Register</h2>
<button class="btn back">close</button>
<form action="#submitNewUserData" method="post" id="registerForm">
	<fieldset>
		<div class="element">
			<label for="username">User name:</label>
			<input type="text" name="username" id="username" placeholder="User name" required/>
		</div>
		<div class="element">
			<label for="password">Password:</label>
			<input type="password" name="password" id="password" placeholder="Password" required/>
		</div>
		<hr>
		<div class="element">
			<label for="firstName">First name:</label>
			<input type="text" name="firstName" id="firstName" placeholder="First name" required/>
		</div>
		<div class="element">
			<label for="lastName">Last name:</label>
			<input type="text" name="lastName" id="lastName" placeholder="Last name" required/>
		</div>
		<div class="element">
			<label for="phoneNumber">Phone number:</label>
			<input type="text" name="phoneNumber" id="phoneNumber" placeholder="Your phone number" required/>
		</div>
		<hr>
		<div class="actions">
			<button class="btn action" disabled>Submit</button>
		</div>
	</fieldset>
</form>